<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <weltpixel_quickview>
            <general>
                <button_style>v2</button_style>
                <close_quickview>5</close_quickview>
                <custom_css></custom_css>
                <enable_goto_product_button>1</enable_goto_product_button>
                <enable_product_listing>1</enable_product_listing>
                <enable_product_search>1</enable_product_search>
                <enable_shopping_checkout_product_buttons>1</enable_shopping_checkout_product_buttons>
                <enable_zoom>false</enable_zoom>
                <zoom_eventtype>hover</zoom_eventtype>
                <remove_availability>0</remove_availability>
                <remove_goto_product_button>0</remove_goto_product_button>
                <remove_product_image>0</remove_product_image>
                <remove_product_image_thumb>1</remove_product_image_thumb>
                <remove_qty_selector>1</remove_qty_selector>
                <remove_short_description>0</remove_short_description>
                <remove_sku>0</remove_sku>
                <remove_estimated_arrival>0</remove_estimated_arrival>
                <scroll_to_top>1</scroll_to_top>
                <quickview_type>default</quickview_type>
                <close_on_bgclick>1</close_on_bgclick>
                <enable_on_mobile>0</enable_on_mobile>
                <loading_overlay_bg_color>#0b0b0b</loading_overlay_bg_color>
                <loading_overlay_opacity>0.8</loading_overlay_opacity>
                <loading_placeholder>0</loading_placeholder>
                <enable_prevnext_product>0</enable_prevnext_product>
            </general>
            <custom_message>
                <enable>0</enable>
                <enable_dynamic>0</enable_dynamic>
                <custom_css></custom_css>
                <content></content>
                <background_color></background_color>
                <font_color></font_color>
                <font_size></font_size>
            </custom_message>
            <seo>
                <no_follow>1</no_follow>
                <no_index>1</no_index>
                <add_canonical_link>1</add_canonical_link>
            </seo>
            <ajax_cart>
                <enable>0</enable>
                <carousel_title>You might also like</carousel_title>
                <popup_title>Product was added to your shopping cart</popup_title>
            </ajax_cart>
        </weltpixel_quickview>
    </default>
</config>
