<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="weltpixelquickview_custommessages_listing_data_source" xsi:type="string">WeltPixel\Quickview\Model\ResourceModel\QuickviewMessages\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="WeltPixel\Quickview\Model\ResourceModel\QuickviewMessages\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">weltpixel_quickviewmessages</argument>
            <argument name="eventPrefix" xsi:type="string">weltpixel_quickviewmessages_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">quickviewmessages_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">WeltPixel\Quickview\Model\ResourceModel\QuickviewMessages</argument>
        </arguments>
    </type>
    <type name="WeltPixel\Quickview\Model\QuickviewMessages">
        <plugin name="reindex_ruleid_products" type="WeltPixel\Quickview\Plugin\Indexer\ReindexRuleIdProducts" sortOrder="1" />
    </type>
    <type name="Magento\Theme\CustomerData\Messages">
        <plugin name="weltpixel_cart_messages_remove" type="WeltPixel\Quickview\Plugin\RemoveCartMessages" sortOrder="1" />
    </type>
    <type name="Magento\Framework\View\Element\Message\Renderer\BlockRenderer">
        <plugin name="weltpixel_cart_messages_remove_from_renderer" type="WeltPixel\Quickview\Plugin\RemoveCartMessagesFromRenderer" sortOrder="1" />
    </type>
    <type name="Magento\Checkout\CustomerData\ItemInterface">
        <plugin name="weltpixel_quickview_confirmation_itemgetdata" type="WeltPixel\Quickview\Plugin\CheckoutCustomerData" sortOrder="1" />
    </type>
</config>
