<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\App\AbstractAction">
        <plugin name="weltpixel-quickview-utility" type="WeltPixel\Quickview\Plugin\Utility" sortOrder="1000" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product">
        <plugin name="apply_quickviewmessages_rules_after_product_save" type="WeltPixel\Quickview\Plugin\Indexer\Product\Save\ApplyRules"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="apply_quickviewmessages_after_products_assign" type="WeltPixel\Quickview\Plugin\Indexer\Category"/>
    </type>
    <type name="Magento\CatalogInventory\Api\StockItemRepositoryInterface">
        <plugin name="apply_quickviewmessages_rules_after_product_save" type="WeltPixel\Quickview\Plugin\Indexer\StockItem\Save\ApplyRules"/>
    </type>
    <type name="Magento\CatalogRule\Model\Rule\Condition\Product">
        <plugin name="apply_quickviewmessages_quantity_combination_assign" type="WeltPixel\Quickview\Plugin\Indexer\ConditionProduct"/>
    </type>
</config>
