<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
        <section id="weltpixel_quickview" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Quick View and Ajax Cart Pro</label>
            <tab>weltpixel</tab>
            <resource>WeltPixel_Quickview::QuickviewSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Quick View General Settings</label>
                <field id="enable_product_listing" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on product listing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quick View and Ajax Cart on Category pages.</comment>
                </field>
                <field id="enable_product_search" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on search result</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Quick View and Ajax Cart on Search Result pages.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="enable_on_mobile" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable on mobile view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="quickview_type" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quickview Type</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\QuickviewType</source_model>
                    <comment>Select the type of the Quickview popup.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="close_on_bgclick" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Close on Background Click</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_product_image" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove product image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide product image.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_product_image_thumb" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove product image thumb</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide product thumbnail image.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="remove_product_image">0</field>
                    </depends>
                </field>
                <field id="remove_short_description" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove short description</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide short description.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_qty_selector" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove qty selector</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide product quantity selector.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="enable_goto_product_button" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable go to product button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable the Go to Product button.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_availability" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove availability</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide product availability.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_sku" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove sku</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show/Hide product SKU.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="remove_estimated_arrival" translate="label" type="select" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remove Estimated Arrival</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Requires <a href="https://wesupplylabs.com/estimate-delivery-date/" target="_blank">WeSupply integration</a>.]]></comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="button_style" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Style</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\Buttonstyle</source_model>
                    <comment>Select the style for QuickView button.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="close_quickview" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Close quickview in X seconds after adding product to cart</label>
                    <validate>number</validate>
                    <comment> Number of seconds after quick view closes automatically. If you enter 0, it will remain open until it is closed manually.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="scroll_to_top" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto scroll to top and open Quickcart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable auto scroll to top of the page and open mini cart.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="enable_shopping_checkout_product_buttons" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable continue shopping/go to checkout buttons</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable the pop-up with Continue shopping/Go to Checkout buttons displayed after Add to cart is clicked. Example: 5</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="custom_css" translate="label" type="textarea" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom CSS</label>
                    <comment>Enter custom CSS code and easily change the way Quickview looks.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="enable_zoom" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable zoom</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\TrueFalse</source_model>
                    <comment>Enable/Disable zoom on product image shown in Quickview.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="zoom_top" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Top position of magnifier</label>
                    <comment>Insert Top position of magnifier. Leave blank for default.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="enable_zoom">true</field>
                    </depends>
                </field>
                <field id="zoom_left" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Left position of magnifier</label>
                    <comment>Insert Left position of magnifier. Leave blank for default.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="enable_zoom">true</field>
                    </depends>
                </field>
                <field id="zoom_width" translate="label" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width of magnifier block</label>
                    <comment>Insert Width of magnifier. Leave blank for default.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="enable_zoom">true</field>
                    </depends>
                </field>
                <field id="zoom_height" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height of magnifier block</label>
                    <comment>Insert Height of magnifier. Leave blank for default.</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="enable_zoom">true</field>
                    </depends>
                </field>
                <field id="zoom_eventtype" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Action that activates zoom</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\Gallery\EventType</source_model>
                    <comment>Select the action which activates zoom. Example: Hover</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="enable_zoom">true</field>
                    </depends>
                </field>
                <field id="loading_overlay_bg_color" translate="label comment" type="text" sortOrder="205" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Overlay Background Color</label>
                    <comment>Set background color for Loading Overlay. Example: #0b0b0b</comment>
                    <validate>color {required:false, hash:true}</validate>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="loading_overlay_opacity" translate="label comment" type="text" sortOrder="208" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Overlay Opacity</label>
                    <comment>Set opacity for Loading Overlay. Use values between 0 and 1. Example: 0.8</comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="loading_placeholder" translate="label comment" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Placeholder</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                    <comment><![CDATA[Enable to be able to choose your own placeholder for the loading period of the quickview. <br>
                                Below you can upload your own file.]]></comment>
                </field>
                <field id="loading_icon" translate="label comment" type="image" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Loading Icon</label>
                    <backend_model>WeltPixel\Quickview\Model\Config\Backend\Loading</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">weltpixel/quickview/loading</upload_dir>
                    <base_url type="media" scope_info="1">weltpixel/quickview/loading</base_url>
                    <comment><![CDATA[ Only 'jpg', 'jpeg', 'gif', 'png', 'svg' is allowed.]]>
                    </comment>
                    <depends>
                        <field id="enable_product_listing">1</field>
                        <field id="loading_placeholder">1</field>
                    </depends>
                </field>
                <field id="enable_prevnext_product" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Previous / Next products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable_product_listing">1</field>
                    </depends>
                </field>
            </group>
            <group id="custom_message" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Custom Global Message</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Custom Global Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Insert Custom Global Message displayed above QuickView pop-up.</comment>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="enable_dynamic" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dynamic Custom Message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment model="WeltPixel\Quickview\Block\Adminhtml\System\DynamicComment" />
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
                <field id="content" translate="label comment" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Global</label>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
                <field id="background_color" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Global Background Color</label>
                    <comment>Set background color for custom message. Example: #B05D5D</comment>
                    <validate>color {required:false, hash:true}</validate>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
                <field id="font_color" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Global Font Color</label>
                    <comment>Set font color for custom message. Example: #B2B2B2</comment>
                    <validate>color {required:false, hash:true}</validate>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
                <field id="font_size" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Global Font Size</label>
                    <comment>Set font size for custom message. Example: 20px</comment>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
                <field id="custom_css" translate="label" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Css</label>
                    <comment>
                        <![CDATA[
                         #quickview-custom-message { <br/> /* Custom Css Here for the custom message wrapper*/  <br/> }  <br/><br/>
                         #quickview-dynamic-message { <br/> /* Custom Css Here for the the custom message */ <br/> }  <br/><br/>
                        ]]>
                    </comment>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                        <field id="weltpixel_quickview/custom_message/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="seo" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Seo Settings</label>
                <field id="no_follow" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add no follow for the quickview link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>rel="nofollow" will be added to the quickview links</comment>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="no_index" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add no index</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[&lt;meta name=&quot;robots&quot; content=&quot;NOINDEX,FOLLOW&quot;&gt; added into the head tag for the quickview popup]]></comment>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                    </depends>
                </field>
                <field id="add_canonical_link" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add canonical link</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="weltpixel_quickview/general/enable_product_listing">1</field>
                    </depends>
                </field>
            </group>
            <group id="ajax_cart" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ajax Cart Confirmation Pop-up General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ajax Cart Confirmation pop-up</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="popup_title" translate="label" type="text" sortOrder="5" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Popup Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="display_cms_block" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Custom CMS Block</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="cms_block" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select CMS Block</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\CmsBlock</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="display_cms_block">1</field>
                    </depends>
                </field>
                <field id="display_carousel" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Carousel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                        Requires <a target="_blank" href="https://www.weltpixel.com/owl-carousel-and-slider.html">Magento 2 OWL Carousel & Slider</a>.
                        ]]>
                    </comment>
                </field>
                <field id="carousel_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Carousel Type</label>
                    <source_model>WeltPixel\Quickview\Model\Config\Source\CarouselType</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="display_carousel">1</field>
                    </depends>
                </field>
                <field id="carousel_title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Carousel Title</label>
                    <depends>
                        <field id="enable">1</field>
                        <field id="display_carousel">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
